body,html{
    margin: 0px;
    padding: 0px;
    background-color: #4a148c ;
    height: 100%;
    width: 100%;
}

.full{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cadastro{
      width: auto;
      height: auto;
      background-color: #160230 ;
      padding: 40px;
      padding-top: 3px;
      border-radius: 19px;
  }

    .cadastro h3{
        color: #7b53b1;
        font-size: 35px;
        text-align: center;
    }

    .cadastro button{
        padding: 11px;
        background-color: purple;
        margin-top: 10px;
        font-size: large;
        border-radius: 15px;
        border: 0px;
        width: 150px;
        white-space: nowrap;
    }

    .cadastro button:hover{
        background-color: #be68e0;
    }

    .cadastro label{
        color: #7b53b1;
        font-size: 17px;

    }

    .cadastro input{
        margin-top: 5px;
        border-radius: 14px;
        width: 300px;
        height: 25px;
        background-color: rgb(168, 155, 155);
        border: 2px solid black;

    }

    .principal{
        width: 75%;
        height: 80%;
        background-color: #ce93d8;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .top{
        margin-top: 0px !important;
        width: 100%;
        height: 12%;
        background-color: #000;
    }

    .top button{
        padding: 5px;
        background-color: purple;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        font-size: large;
        border-radius: 15px;
        border: 0px;
        width: 150px;
        white-space: nowrap;
    }

    .bodyLoja{
        width: 900px;
        height: 600px;
        background-color: lightgray;
        overflow-y: scroll;
    }
    
    .produto{
        height: 150px;
        width: 150px;
        display: inline-block;
        margin: 10px;
    } 

    .produto img{
        border: 2px solid gray;
        height: 150px;
        width: 150px;
        border-radius: 150px;   

    }

